/* 1. Set default box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
html {
    margin: 0;
}

/* 3. Set default font size and line height */
body {
    margin: 0;
    line-height: 1.5;
    font-family: sans-serif; /* Установите шрифт по вашему выбору */
    overflow: hidden;
}

/* 4. Remove list styles */
ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* 5. Set table layout */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 6. Set default styles for headings */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

/* 7. Set default styles for paragraphs */
p {
    margin: 0;
}

/* 8. Style for anchor links */
a {
    color: inherit; /* Унаследовать цвет текста */
    text-decoration: none; /* Убрать подчеркивание */
}

/* 9. Style for images */
img {
    max-width: 100%; /* Масштабировать изображения по размеру родителя */
    height: auto; /* Сохранить соотношение сторон */
}

/* 10. Hide form elements */
button,
input,
select,
textarea {
    font-family: inherit; /* Унаследовать шрифт */
    font-size: inherit; /* Унаследовать размер шрифта */
}

/* 11. Reset default styles for form elements */
button {
    border: none; /* Убрать обводку кнопок */
    background: none; /* Убрать фон кнопок */
    cursor: pointer; /* Указать, что кнопка кликабельна */
}

/* 12. Style for blockquotes */
blockquote {
    margin: 0;
}

/* 13. Set styles for strong and em elements */
strong {
    font-weight: bold; /* Установить жирный шрифт */
}

em {
    font-style: italic; /* Установить курсивный шрифт */
}

/* 14. Adjust styles for code elements */
code {
    font-family: monospace; /* Установить моноширинный шрифт */
}

/* 15. Set default styles for sub and sup elements */
sub {
    vertical-align: sub;
    font-size: 0.75em; /* Уменьшить размер текста */
}

sup {
    vertical-align: super;
    font-size: 0.75em; /* Уменьшить размер текста */
}

/* 16. Set default styles for address element */
address {
    font-style: normal; /* Убрать курсив */
}

/* 17. Set default styles for small element */
small {
    font-size: 80%; /* Уменьшить размер текста */
}

/* 18. Normalize text-decoration for all elements */
[role="button"] {
    cursor: pointer; /* Указать, что элемент кликабельный */
}

/* 19. Set styles for details and summary elements */
details {
    display: block; /* Отображать детали как блок */
}

summary {
    display: list-item; /* Отображать summary как элемент списка */
}

/* 20. Set styles for scrollable elements */
::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Цвет полосы прокрутки */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет полосы прокрутки при наведении */
}
