.page__exercise_header_title_wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.68);
    border: 1px solid #363636;
    border-left: 10px solid #363636;
    border-right: 10px solid #363636;
}